
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  line-height: 20px;
  width: 100vw;
  color: #525252;
}

.icons {
  height: 50px;
}

h1 {
    color: rgb(150, 12, 67);
    font-size: 36px;
    text-align: center;  
    
}

hr {
    border: 2px double #850a58;
}

header {
   
    background-color: #F6FFDE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px 100px;

}

h2 {
    color: #850a58;
}


.links {
  text-align: center;
}

.btn:link {
  text-decoration: none;
  color: #850a58;
  background-color:#D2E0FB;
  padding: 10px 30px;
  border-radius: 8px;
  margin: 20px 30px;
  border: 1px solid  #850a58;
}

.btn:hover {
  opacity: 0.7;
}

.btn:active {
  color: #D2E0FB;
  background-color: #850a58;
  opacity: 1;
}

.exper {
  background-color: #F6FFDE;
  width: 450px;
  border-radius: 16px;
  margin: 10px 20px;
  padding: 20px;
 
  
}
.exper p {
  font-size: 12px;
  line-height: 18px;
}

.comp {
  background-color: #F6FFDE;
  width: 500px;
   border-radius: 16px;
   margin: 10px 20px;
   padding: 20px;
  
}

.forma {
  display: block;
  justify-content: center;
  background-color: #D2E0FB;
  margin: 50px 60px;
  border-radius: 16px;
  padding: 20px;
  line-height: 20px;

}


section {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 50px 50px;
}


table {
  
 table-layout: auto;
 width: 50%;
}
